@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.music-bg-conatiner{
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height: 100vh;
    background-size: cover;
    width: 450px;
}
.music-header-bg-container{
    height: 30vh;
    padding: 30px;

}
.music-heading{
    color: #ffffff;
    font-family: Bree Serif;
    font-size: 28px;
}
.music-description{
    color: #ffffff;
    font-family: Bree Serif;
    font-size: 14px;
}
.night-island-card{
    padding: 30px;
}
.night-island-bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 28vh;
    background-size: cover;
    margin-bottom: 5px;
    width: 340px;
    margin-left: 30px;
    padding: 13px;
}
.night-island-card-heading{
    color: #ffe7bf;
    font-family: Bree Serif;
    font-size: 32px;
    margin-top: 40px;
}
.button {
    color: #ffffff;
    background-color: #8e97fd;
    font-family: Bree Serif;
    font-size: 14px;
    width: 100px;
    height: 30px;
    border-width: 0px;
    border-radius: 38px;
}
.music-details-bg-container{
    background-color: #03174c;
    width: 450px;

}
.music-details-header-image{
    width: 100vw;
    width: 390px;
    margin-left: 18px;
    margin-bottom: 15px;
}
.music-details-container{
    padding: 20px;

}
.music-details-text{
    color: #98a1bd;
    font-family: Bree Serif;
    font-size: 14px;
}
.related-music-heading{
    color: #ffffff;
    font-family: Bree Serif;
    font-size: 18px;
}
.related-music-card{
    margin-right: 10px;
}
.related-music-image{
    width: 40vw;
    margin-bottom: 3px;
    width: 170px;

}
.related-music-name{
    color: #ffffff;
    font-family: Bree Serif;
    font-size: 15px;
}